.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
.loginForm p {
  font-size: larger;
}
.loginForm form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  width: 50%;
  height: 50%;
}
.loginForm form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.loginForm form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #f1f7f1;
  width: 100%;
  padding: 15px;
  color: rgb(133, 131, 131);
  font-size: 14px;
  cursor: pointer;
  border-radius: 9px;
}
.loginForm form button:hover,.loginForm form button:active,.loginForm form button:focus {
  background: rgb(133, 131, 131);
  color: #f1f7f1;
  border-color: rgb(133, 131, 131);
}
.formIsIncorrect {
  color: #ff0000;
  font-weight: bold;
  padding: 5px;
}